<!doctype html>
<html ng-app="myApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="leanclass.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <h2 style="padding-left:50px;"><b style="color:red;font-family: 'BuxtonSketch';font-size: 1.8em; margin-left: -20px;">RedBlood</b></h2>
  <div ng-controller="stationController as LeanWorkflow" style="width:95%;">
    <button class="button" ng-click="LeanWorkflow.onPush()" ng-class="LeanWorkflow.isPush?'disableButton':''" ng-disabled="LeanWorkflow.isPush" style="width:80px;">Push</button>
    <button class="button" ng-click="LeanWorkflow.onPull()" ng-class="LeanWorkflow.isPush?'':'disableButton'" ng-disabled="!LeanWorkflow.isPush" style="width:80px;">Pull</button>
    <div style="margin-left:30px;">
      <div ng-repeat="item in LeanWorkflow.viewStations">
        <div class="arrow" style="margin-top:20px;height: 50px;"> => </div>
        <div class="station" ng-class="LeanWorkflow.isWorking(item.product, item.velocity)"  ng-hide="$index == 0">
          <div style="width:100%;">Velocity (u/s):
            <input class="inpV" type="text" id='button1' ng-model="item.velocity">
          </div>
          <div style="width:100%;">Product (units):
            <b class="calcNum" ng-Model="item.product">{{item.product.toFixed(1)}}</b>
          </div>
        </div>
        <div style="margin-top:15px; float:left;height: 50px;" ng-hide="$index == LeanWorkflow.stations.length-1 || $index == 0">
          <div class="arrow"> = </div>
          <div class="queue">
            <b class="calcNum" ng-model="item.waiting">{{item.waiting}}</b> waiting
             <div class="progress" style="margin-bottom:5px; height:10px;">
                <div ng-class="item.waiting>10?'progress-bar progress-bar-danger active':'progress-bar progress-bar-striped active'"  role="progressbar" aria-valuenow={{item.waiting*10}} aria-valuemin="0" aria-valuemax="100" style="width:{{item.waiting*10}}%">
                  <!-- <span style="font-size:0.5em;margin:0;">45% Complete</span> -->
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="arrow" style="margin-top:20px;"> => </div>
      <div class="station totalout">
        Output (units): <b id='output' class="calcNum">{{LeanWorkflow.totalOut}}</b>
        <div>
          1st ends at:<b class="calcNum"> {{LeanWorkflow.firstCycle.toFixed(3)}}</b>
        </div>

      </div>
    </div>
    <div style="clear:both;"></div>

    <div style="margin-top:20px;">
      <div style="margin-left:10px; font-size:23px">
        <i class="fa fa-plus-square" aria-hidden="true" ng-click="LeanWorkflow.add()"></i> Stations
        <i class="fa fa-minus-square" aria-hidden="true" ng-click="LeanWorkflow.delete()"></i>
      </div>
    </div>
    <div style="margin-top:20px;">
      <span style="margin-left:10px;">{{LeanWorkflow.simTime}} seconds</span>
      <button class="button" ng-click="LeanWorkflow.onStart()" ng-class="LeanWorkflow.isStart?'disableButton':''" ng-disabled="LeanWorkflow.isStart" style="width:80px;">Run</button>
      <button class="button" ng-click="LeanWorkflow.onStop()" ng-class="LeanWorkflow.isStart?'':'disableButton'" ng-disabled="!LeanWorkflow.isStart" style="width:80px;">Pause</button>
      <button class="button" ng-click="LeanWorkflow.onReset()" ng-class="LeanWorkflow.isStart?'disableButton':''" ng-disabled="LeanWorkflow.isStart" style="width:80px;">Reset</button>
      <!-- <div>
          <span style="margin-left:10px;"><i class="fa fa-bell" aria-hidden="true"></i> I want to run
            <input type="text" ng-model="LeanWorkflow.simTime" style="width:50px;"> seconds &nbsp;&nbsp;</span>
          <button class="button" ng-show ="LeanWorkflow.simTime!=''" ng-click="LeanWorkflow.onClick()" style="width:80px;">Run</button>
        <div> -->
    </div>

    <div style="margin-top:8px;">
      <span style="margin-left:10px;"><i class="fa fa-bell" aria-hidden="true"></i> If user needs
             <input type="text" ng-model="LeanWorkflow.amount" style="width:50px;"> products, </span>

      <span>&nbsp;total time of all the products required:
           <b type="text"  style="width:50px;"  class="calcNum">{{LeanWorkflow.totalTime.toFixed(3)}}</b> seconds,
            lead time of last product is <b type="text"  style="width:50px;"  class="calcNum">{{LeanWorkflow.lastProductLeadTime.toFixed(3)}}</b></span>
      <button class="button" ng-show="LeanWorkflow.amount!=''" ng-click="LeanWorkflow.calcTime()" style="width:80px;">Calculate</button>
    </div>

  </div>
</body>

</html>