{% extends "base.html" %}

{% block layoutstyles %}
<link href="/user/static/css/layout.css" rel="stylesheet" type="text/css">
{% endblock %}




{% block layout %}
  <div id="head" >
      <a id="logo" href="{{ url_for('user.index',username=current_user.id) }}">Test-Service-System</a>
      <div id="navigation">
          <a href="{{ url_for('user.index',username=current_user.id) }}">Index</a>
          {% if not current_user.is_authenticated %}
          | <a href="{{ url_for('user.login') }}">Log in</a>
          or <a href="{{url_for('user.signup')}}">Sign up</a>
          {% else %}
          | <a href="{{ url_for('user.add_new_task') }}">?</a>
          | <a href="{{ url_for('user.logout') }}">Logout</a>

          {% endif %}
      </div>
      <hr id="hr">
  </div>



{% endblock %}

