{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %} Well Done {% endblock %}
{% block html_attribs %} lang="en" {% endblock %}
{% block head%}

{% block metas %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--允许网页宽度自动调整-->
<!--viewport是网页默认的宽度和高度，上面这行代码的意思是，网页宽度默认等于屏幕宽度（width=device-width），
原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%-->
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="test_tube.ico">
{% endblock %}

{% block styles%}
<link href="{{ url_for('user.static',filename='css/lib/bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('user.static',filename='css/signin.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

<link href="{{ url_for('user.static',filename='img/test_tube.ico') }}" rel="icon">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
{% endblock%}

{% block content %}

<div id="login">

  <form class="form-signin" method="post" name="Loginform" role="form" >
    <h2 class="form-signin-heading">Please sign in</h2>
    <div id="login-warning"></div>
    {{ form.hidden_tag() }}
    <p>
      {{ form.userName(class="form-control", placeholder="User Name")}}
      {{ form.passWord(class="form-control", placeholder="Password")}}

      <!--flash-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

      {{ form.submit(style="width:140px;float: right;", class="btn btn-lg btn-primary btn-block", id="login-btn", onclick="InputValidateCheck(this)", value="Sign in")}}

    <!--input type="text" id="username" name="username" class="form-control" placeholder="User Name" required autofocus>
    <!--input type="password" id="password" name="password" class="form-control" placeholder="Password" required-->
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    </p>

            <!--input class="btn btn-lg btn-primary btn-block" type="submit"-->
    <!--input style="width:140px;float: right;" class="btn btn-lg btn-primary btn-block" type="submit" id="login-btn" name="submit" onclick="InputValidateCheck(this)" value="Sign in" -->

  </form>
</div> <!-- /container -->
{% endblock %}

