#head{
background-color:#efe;
text-decoration: none;
margin-top: 0px;
}

#logo{
font: italic  125%/125%  "Comic Sans MS", cursive;
}



#navigation{
margin-right: 24px;
text-align: right;
}

#hr{
margin-top: 7px;
}